In [53]:
import sqlite3

In [54]:
con = sqlite3.connect(':memory:')

## create

In [55]:
query = """
create table if not exists sales (
    customer VARCHAR(20),
    product VARCHAR(40),
    amount FLOAT,
    date DATE
);
"""
con.execute(query)

In [56]:
con.commit()

## insert

In [57]:
data = [
    ('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
    ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
    ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
    ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')
] # 각 레코드는 리스트의 요소들, 각 리스트 요소들은 튜플들

In [58]:
# sql 문
sql = "insert into sales values(?, ?, ?, ?)"
con.executemany(sql, data)

## select

In [59]:
cursor = con.execute('select * from sales')
# cursor에서 레코드 추출
rows = cursor.fetchall()

In [60]:
for row in rows :
    for k in row :
        if len(str(k)) >= 16 :
            print(k, end='\t')
        else :
            print(k, end='\t\t')
    print()

Richard Lucas		Notepad		2.5		2014-01-02
Jenny Kim		Binder		4.15		2014-01-15
Svetlana Crow		Printer		155.75		2014-02-03
Stephen Randolph	Computer		679.4		2014-02-20

In [61]:
query = """
create table if not exists Suppliers (
    Supplier_Name VARCHAR(20),
    Invoice_Number VARCHAR(20),
    Part_Number VARCHAR(20),
    Cost FLOAT,
    Purchase_Date DATE
);
"""
con.execute(query)
con.commit()

In [62]:
import csv
# csv 파일 오픈 및 읽어옴
file_reader = csv.reader(open('data.csv', 'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader :
    data = []
    for column_index in range(len(header)) :
        data.append(row[column_index])
    print(data)
    con.execute('insert into Suppliers values (?, ?, ?, ?, ?);', data)
con.commit()

['Supplier X', '001-1001', '2341', '$500.00', '2014-01-20']
['Supplier X', '001-1001', '2341', '$500.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '$750.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '$750.00', '2014-01-20']
['Supplier Y', '50-9501', '7009', '$250.00', '2014-01-30']
['Supplier Y', '50-9501', '7009', '$250.00', '2014-01-30']
['Supplier Y', '50-9501', '6650', '$125.00', '2014-02-03']
['Supplier Y', '50-9501', '6650', '$125.00', '2014-02-03']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-02-03']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-10-14']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-02-17']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-02-24']

In [63]:
output = con.execute('select * from Suppliers')
rows = output.fetchall()
# 헤더와 함께 내용 출력
print(header)
for row in rows :
    output = []
    for column_index in range(len(row)) :
        output.append(str(row[column_index]))
    print(output)

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['Supplier X', '001-1001', '2341', '$500.00', '2014-01-20']
['Supplier X', '001-1001', '2341', '$500.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '$750.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '$750.00', '2014-01-20']
['Supplier Y', '50-9501', '7009', '$250.00', '2014-01-30']
['Supplier Y', '50-9501', '7009', '$250.00', '2014-01-30']
['Supplier Y', '50-9501', '6650', '$125.00', '2014-02-03']
['Supplier Y', '50-9501', '6650', '$125.00', '2014-02-03']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-02-03']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-10-14']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-02-17']
['Supplier Z', '920-4804', '3321', '$615.00', '2014-02-24']

## update

In [64]:
data = [10.5, '2020-05-07', 'Richard Lucas']
con.execute('update sales set amount=?, date=? where customer=?;', data)

In [65]:
cursor = con.execute('select * from sales')
rows = cursor.fetchall()
for rrow in rows :
    for k in row :
        print(k, end='\t')
    print()

Supplier Z	920-4804	3321	$615.00	2014-02-24
Supplier Z	920-4804	3321	$615.00	2014-02-24
Supplier Z	920-4804	3321	$615.00	2014-02-24
Supplier Z	920-4804	3321	$615.00	2014-02-24

## delete

In [66]:
query = 'drop table sales;'
con.execute(query)