# Ready

In [715]:
randomState = 6

## Import

In [716]:
import numpy as np
import pandas as pd
import math

## Check

# Preprocessing

### Ready Target

In [717]:
df = pd.read_csv('../../02_DataAnalysis/titanic_train.csv')

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### Missing Data

In [718]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [719]:
df.Age = df.Age.fillna(df[~df['Age'].isna()]['Age'].mean())
df.Cabin = df.Cabin.fillna('N')
df.Embarked = df.Embarked.fillna('N')

#### Label Encoding

- Cabin
- Sex
- Embarked

In [720]:
from sklearn.preprocessing import LabelEncoder

for target in ['Cabin', 'Sex', 'Embarked'] :
    encoder = LabelEncoder()
    result = encoder.fit_transform(df[target])
    df[target] = result

#### Drop Columns

In [721]:
print('Before Drop')
print(df.columns)
df = df.drop(labels=['PassengerId', 'Name', 'Ticket'], axis=1)
print('After Drop')
print(df.columns)

Before Drop
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
After Drop
Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')

#### After Preprocessing Data

- Survived	Pclass	Sex	Age	SibSp	Parch	Fare	Cabin	Embarked

In [722]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500    146         3
1         1       1    0  38.0      1      0  71.2833     81         0
2         1       3    0  26.0      0      0   7.9250    146         3
3         1       1    0  35.0      1      0  53.1000     55         3
4         0       3    1  35.0      0      0   8.0500    146         3

# Learning

## Import

In [723]:
from sklearn.model_selection import train_test_split

## Divide train & target At DF

In [724]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')

In [725]:
train = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin','Embarked']]
target = df['Survived']

In [726]:
train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  22.0      1      0   7.2500    146         3
1       1    0  38.0      1      0  71.2833     81         0
2       3    0  26.0      0      0   7.9250    146         3
3       1    0  35.0      1      0  53.1000     55         3
4       3    1  35.0      0      0   8.0500    146         3

In [727]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

## split Data

In [728]:
X_train, X_test, Y_train,Y_test = train_test_split(train, target, test_size=0.2, random_state=randomState)

## Estimator

### Import

In [729]:
from sklearn.tree import DecisionTreeClassifier

### Instance

In [730]:
dtc = DecisionTreeClassifier(random_state=randomState)

## Train & Predict & Accuracy

### Train

In [731]:
dtc.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=6)

### Predict

In [732]:
pred = dtc.predict(X_test)
pred

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1], dtype=int64)

### Accuracy

In [733]:
from sklearn.metrics import accuracy_score

result = accuracy_score(Y_test, pred)

# Report

In [734]:
print('예측 정확도 : {0:.4f}'.format(result))

예측 정확도 : 0.7709